/* Gobal */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
}

:root {
    --primaryColor: #dc4f72;
    --titleColor: #2c3038;
    --textColor: #5a5a5a;
    --buttonHover: #d62f58;
    --lightBtn: #f8f9fa;
}


/* Gobal Btn */

.btn {
    border-radius: 0.25rem;
    transition: all .5s;
}

.theme-button {
    /* transition: 0.3s ease-out; */
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
}

.btn-outline-primary {
    color: var(--primaryColor);
    border: 1px solid var(--primaryColor);
}

.btn-outline-primary:hover {
    background-color: var(--primaryColor);
    color: #fff;
}

.btn-primary {
    background-color: var(--primaryColor);
    color: #fff;
    border-color: #cf2952;
}

.btn-primary:hover {
    background-color: var(--buttonHover);
    border-color: #cf2952;
}

.btn-light {
    color: #212529;
    background-color: var(--lightBtn);
    border-color: var(--lightBtn);
}

.btn-light:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}


/* gobal Header */

.header__title {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
}

.header__title__left {}

.header__title .sub__title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--primaryColor);
    text-transform: uppercase;
    margin-bottom: 5px;
}

.header__title h3 {
    color: var(--titleColor);
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}

.header__title p {
    color: var(--textColor);
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
}